html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}
#background {
    background-color: #000;

    background-image: url(../images/bg6.jpg);

    background-position: center;
    
    background-size: cover;
    
    display: table;
    
    height: 100%;
    
    width: 100%;
}

#loginContainer * {
    color: #fff;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-serif";
    font-weight: normal;
    line-height: 1em;
    box-sizing: border-box;
}

#loginContainer {
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-width: 1024px
}

#input-container {
    width: 400px;
    padding: 45px;
    float: left;
    border-right: 1px solid #999;
}

#input-container h2 {
    text-align: center;
}

#input-container input[type = "text"],
#input-container input[type = "email"],
#input-container input[type = "password"] {
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    height: 27px;
    line-height: 27px;
    width: 100%;
}