html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#nowPlayingBarContainer {

    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;

}

#nowPlayingBar {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingLeft,
#nowPlayingRight {
    width: 30%;
    min-width: 180px;
}

#nowPlayingCenter {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}